@import '../../global/_variables';
// TODO: change to flex box

.product-content-group--products {
	display: flex;
	flex-wrap: wrap;
	margin: ms(5) (ms(-2) * -1) (ms(-2) * -1) (ms(-2) * -1);

	> div {
		flex: 0 0 50%;

		@media #{$mqMediumAndUp} {
			flex: 0 0 33.333333%;
		}

		@media #{$mqLargeAndUp} {
			flex: 0 0 25%;
		}

		@media #{$mqXLargeAndUp} {
			flex: 0 0 20%;
		}
	}
}

// Products
.product__wrapper {
	padding: ms(-2);
}

.product {
	display: block;
	border-radius: 2px;
	border: 1px solid $black--opaque6;
	text-decoration: none;
	transition: opacity 100ms ease-in-out;

	&:hover {
		opacity: 0.666666;
		text-decoration: none;
	}
}

.product__title {
	background-color: $primary-dark;
	background-color: $black--opaque3;
	color: $primary-invert;
	padding: 4px 10px;
	margin: 0;
	font-size: 14px;
}

.product__image {
	width: 100%;
	height: auto;
}
