fieldset {
	padding: 20px;
	margin: 0;
	border: 0;
	background-color: $black--opaque10;
	// position: relative;

	.row > & {
		flex: 1 0 100%;
	}
}

* + fieldset {
	margin-top: ms(3);

	@media #{$mqMediumAndUp} {
		margin-top: ms(4);
	}
}

fieldset + * {
	margin-top: ms(3);

	@media #{$mqMediumAndUp} {
		margin-top: ms(4);
	}
}
