.form-field--select {
}

.input__select-icon {
	position: absolute;
	top: 50%;
	right: 22px;
	width: 15px;
	height: 12px;
	pointer-events: none;
	fill: $grey;
	margin-top: 0;
	background-color: red;
}
