/* ------------------------------------------------------------ Mixins */
@mixin mixin-form-label {
	display: $formLabelDisplay;
	margin: 0;
	font-family: $formLabelFontFamily;
	font-size: $formLabelFontSize;
	font-weight: $formLabelFontWeight;
	line-height: $formLabelLineHeight;
	color: $formLabelFontColor;
	user-select: none;
}

@mixin mixin-form-element {
	display: $inputFormDisplay;
	width: 100%;
	// min-height: $inputHeight;
	height: $inputHeight;
	-webkit-appearance: none; // Disable inner shadow on ios
	padding: $formPadding;
	margin: 0;
	font-family: $inputFontFamily;
	font-size: $inputFontSize;
	line-height: 19px;  // TODO: magic number
	color: $inputFontColor;
	vertical-align: middle;
	background-color: $inputBgColor;
	border: 0;
	border: $inputBorderWidth $inputBorderStyle $inputBorderColor;
	border-radius: $inputBorderRadius;
	box-shadow: 0 0 6px 1px $black--opaque7;

	&:focus {
		background: $inputFocusBgColor;
		border-color: $inputFocusBorderColor;

		.form-field--error & {
			border-color: $inputErrorColor;
		}
	}

	&::placeholder {
		color: $inputPlaceholderColor;
	}
}


/* ------------------------------------------------------------ Elements */
form {
}


/* ------------------------------------------------------------ Classes */
.form {
}

.form-fields {
}

.form-fields__inner {
}

.form-field {
	position: relative;
	width: 100%;
	max-width: 400px;

	&:not(.form-field--checkbox):not(.form-field--radio):not(.form-field--no-validation) {
		padding-right: 39px; // Space for the validation icons
	}

	.u--text-center & {
		margin-right: auto;
		margin-left: auto;
	}
}

.form-field__input {
	position: relative;
	margin-top: 0;
}

.form-field__label {
}

.form-field--textarea {
	.form-field__input {
		min-height: 150px;
		border: 1px solid $inputBorderColor;
	}
}

.form-field--file {
	.form-field__input {
		font-size: ms(0, 16px, $major-second);
		line-height: 1;
	}
}

.form-fields--inline {
	.form-field {
		display: inline-block;
		width: auto;
		max-width: none;
		margin-top: 0;
		vertical-align: top;
	}

	.form-field--checkbox,
	.form-field--radio {
	}

	.form-field--checkbox {
		padding-right: ms(-2);
		padding-bottom: ms(-2);
		margin-right: ms(-1);
	}
}

.form-fields--flex {
	.form-fields__inner {
		display: flex;
		justify-content: space-between;
	}

	.form-field {
		width: auto;
		margin-top: 0;
	}
}


.form-field--checkbox,
.form-field--radio {
	.form-field__label {
		// font-size: ms(0);
		position: relative;
		top: auto;
		left: auto;
		z-index: auto;
		margin-bottom: 0;
		text-transform: none;
		letter-spacing: 0;
		cursor: pointer;
	}
}

.form-field--checkbox {
}

.form-field--radio {
}

.form-field--select {
}

.form-field--date {
	// // TODO: add correct icon
	// &::after {
	// 	position: absolute;
	// 	right: 25px;
	// 	bottom: 17px;
	// 	font-size: 20px;
	// 	color: $inputPlaceholderColor;
	// 	pointer-events: none;
	// 	content: '[i]';
	// 	color: red;
	// }

	.form-field__input {
		padding-right: 55px;
	}
}

.form-field--button {
}

.inline-button__wrapper {
	display: table-cell;
	padding-left: ms(2);
	vertical-align: middle;
}

.form-field--collapse {
	margin-top: 0;

	.form-field__input {
		@media #{$mqSmallOnly} {
			border-bottom: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		@media #{$mqMediumAndUp} {
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.button {
	}

	.cta {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;

		@media #{$mqMediumAndUp} {
			border-top-right-radius: 3px;
			border-bottom-left-radius: 0;
		}
	}
}

.form__hidden-element {
	position: fixed;
	top: -9999px;
	left: -9999px;
}

.form-field__outer-icon {
	fill: $formLabelFontColor;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
}
