/* ------------------------------------------------------------ Mixins */
@mixin mixin-form-label {
	display: $formLabelDisplay;
	margin: 0;
	font-family: $formLabelFontFamily;
	font-size: $formLabelFontSize;
	font-weight: $formLabelFontWeight;
	line-height: $formLabelLineHeight;
	color: $formLabelFontColor;
	user-select: none;
}

@mixin mixin-form-element {
	display: $inputFormDisplay;
	width: 100%;
	// min-height: $inputHeight;
	height: $inputHeight;
	-webkit-appearance: none; // Disable inner shadow on ios
	padding: $formPadding;
	margin: 0;
	font-family: $inputFontFamily;
	font-size: $inputFontSize;
	line-height: 19px;  // TODO: magic number
	color: $inputFontColor;
	vertical-align: middle;
	background-color: $inputBgColor;
	border: 0;
	border: $inputBorderWidth $inputBorderStyle $inputBorderColor;
	border-radius: $inputBorderRadius;
	// box-shadow: 0 0 6px 1px $black--opaque7;

	&:focus {
		background: $inputFocusBgColor;
		border-color: $inputFocusBorderColor;
		outline: 0;

		.form-field--error & {
			border-color: $inputErrorColor;
		}
	}

	&::placeholder {
		color: $inputPlaceholderColor;
	}
}

.form-field,
.form-fields {
	&[class^="col-"],
	&[class*=" col-"] {
		margin-top: ms(2);
	}
}

/* ------------------------------------------------------------ Elements */
form {
}

.enquiry-form[aria-hidden="true"] {
	display: none;
}


/* ------------------------------------------------------------ Classes */
.form {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.form-fields {
}

.form-fields__inner {
}

.form-field {
	position: relative;
	width: 100%;
	max-width: 400px;

	&:not(.form-field--checkbox):not(.form-field--radio) {
		padding-right: 39px; // Space for the validation icons
	}
}

.form-field__input {
	position: relative;
	margin-top: 0;
}

.form-field__label {
	// color: red;
	margin-bottom: ms(-4);
	font-weight: 500;
}

.form-fields--inline {
	.form-field {
		display: inline-block;
		width: auto;
		max-width: none;
		margin-top: 0;
		vertical-align: top;
	}

	.form-field--checkbox,
	.form-field--radio {
	}

	.form-field--checkbox {
		padding-right: ms(-2);
		padding-bottom: ms(-2);
		margin-right: ms(-1);
	}
}

.form-fields--flex {
	.form-fields__inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: (-1 * ms(0));
	}

	.form-field {
		padding: ms(0);
		max-width: none;
		width: auto;
		flex: 0 0 50%;
		margin-top: 0;
	}
}

.form-field--checkbox,
.form-field--radio {
	.form-field__label {
		color: inherit;
		// font-size: ms(0);
		position: relative;
		top: auto;
		left: auto;
		z-index: auto;
		margin-bottom: 0;
		text-transform: none;
		letter-spacing: 0;
		cursor: pointer;
		font-weight: inherit;
	}
}


.form-field--date {
	.form-field__input {
		padding-right: 55px;
	}
}

.form-field--button {
}

.form-field--collapse {
	margin-top: 0;

	.form-field__input {
		@media #{$mqSmallOnly} {
			border-bottom: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		@media #{$mqMediumAndUp} {
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.button {
	}

	.cta {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;

		@media #{$mqMediumAndUp} {
			border-top-right-radius: 3px;
			border-bottom-left-radius: 0;
		}
	}
}
