@import '../global/_variables';

.case-studies {
	border: 1px solid $red;
	padding: ms(-1);
	margin-top: ms(-1);
}

.case-study {
	border: 1px solid $green;
	padding: ms(-1);

	+ * {
		margin-top: ms(-1);
	}
}
