@import '../global/_variables';

.homepage-hero__wrapper {
	max-width: 900px;
	margin: ms(5) auto;
}

.homepage-hero {
	display: flex;
	flex-flow: row wrap;
}

.homepage-hero__link {
	flex: 0 0 50%;
	padding: ms(3);
	border: 1px solid $red;
	background-color: $purple;
	transition: opacity 200ms ease-in-out;
	color: $white;

	&:hover {
		opacity: 0.6;
		color: $white;
	}
}
