@import '../global/_variables';

.body--latest-news {
	.page-body {
		max-width: 950px;
		margin-left: auto;
		margin-right: auto;
	}
}


.latest-news__item {
	border-bottom: 1px solid $black--opaque8;
	margin-top: ms(5);
	padding-bottom: ms(5);
}
