@import '../global/_variables';

.nav__wrapper {
	background-color: $primary;
	flex: 0 0 100%;
}

.nav {
	// max-width: 1000px;
	// margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	border-right: 1px solid $primary-dark;
}

.nav__link {
	display: block;
	border-left: 1px solid $primary-dark;
	color: $primary-invert;
	background-color: $primary;
	padding: ms(-1) ms(0);
	transition: background-color 100ms ease-in-out;
	text-decoration: none;

	&:hover {
		color: $primary-invert;
		background-color: $primary-dark;
		text-decoration: none;
		// opacity: 0.6;
	}
}
