@import '../global/_variables';

.nav__wrapper {
	background-color: $primary;
	flex: 0 0 100%;
	z-index: 6;
	border-bottom: 3px solid $secondary;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav__link {
	margin-top: 0;
	display: block;
	border-left: 1px solid $primary-dark;
	color: $primary-invert;
	background-color: $primary;
	padding: 14px ms(0);
	transition: background-color 100ms ease-in-out;
	text-decoration: none;

	&:last-child {
		border-right: 1px solid $primary-dark;
	}

	&:hover,
	&.is-active {
		color: $primary-invert;
		background-color: $primary-dark;
		text-decoration: none;
		// opacity: 0.666666;
	}
}
