@import '../global/_variables';

// Page header stuff
.product-hero {
	position: relative;

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		height: 200px;
		left: 0;
		z-index: 4;
		display: block;
		content: '';
		// background: linear-gradient(to top, rgba($primary, 0.8) 0%, rgba($primary, 0.8) 30%, transparent 100%);
		background-color: rgba($primary, 0.5);
		background-repeat: repeat-x;
	}

	@media #{$mqMediumAndUp} {
		&::after {
			bottom: 0;
			background-color: rgba($primary, 0.8);
			height: auto;
		}
	}
}

.page-header__hero-image {
	// @include new-aspect-ratio(50%);
	height: 200px;
	background-position: center center;
	background-size: cover;

	+ .container-fluid {
		margin-top: 0;
	}

	@media #{$mqMediumAndUp} {
		// @include new-aspect-ratio(30%);
		height: 400px;
	}

	@media #{$mqXLargeAndUp} {
		// @include new-aspect-ratio(30%);
		height: 500px;
	}

	@media #{$mqXXLargeAndUp} {
		// @include new-aspect-ratio(30%);
		height: 600px;
	}
}

.product-hero__content {
	position: relative;
	z-index: 5;

	h1 {
		padding-left: 0.3em;
		border-left: 0.08em solid $secondary;
	}

	@media #{$mqMediumAndUp} {
		padding: ms(5) 0;
		color: $white;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}


//
.product-info {
	margin-top: 0;

	@media #{$mqMediumAndUp} {
		display: flex;
	}
}

.product-info__sidebar {
	@media #{$mqMediumAndUp} {
		flex: 0 0 220px;
	}
}

.product-info__main {
	margin-top: 0;

	@media #{$mqMediumAndUp} {
		flex: 1 1 auto;
	}
}

.product-sections {
	@media #{$mqMediumAndUp} {
		padding-left: 5%;
	}
}

.product-section {
	// padding-top: ms(8);

	> div {
		margin-top: 2rem;
	}

	+ .product-section {
		margin-top: ms(7);
		// border-top: 2px dashed $black--opaque9;
	}

	// &:nth-child(even) {
	// 	padding-top: ms(5);
	// 	padding-bottom: ms(5);
	// 	background-color: $c-grey-3;
	// 	position: relative;
	//
	// 	&::before,
	// 	&::after {
	// 		content: '';
	// 		position: absolute;
	// 		top: 0;
	// 		bottom: 0;
	// 		width: 50vw;
	// 		background-color: $c-grey-3;
	// 		z-index: -1;
	// 	}
	//
	// 	&::before {
	// 		left: 0;
	// 		transform: translateX(-100%);
	// 	}
	//
	// 	&::after {
	// 		right: 0;
	// 		transform: translateX(100%);
	// 	}
	// }
}

.product-content-group {
	// border: 2px dashed $blue;
	// margin: 40px 0 0 0;

	> div {
		margin-top: 0;
	}

	+ .product-content-group {
		margin-top: 40px;
	}
}


/**
* Product Side Navigation
**/
.product-page__nav {
	padding: ms(8) 0 ms(2) ms(-3);
}

.product-page__nav__link {
	display: block;
	padding: ms(-6) 0 ms(-6) ms(-3);
	position: relative;
	line-height: 1.35em;
	transition-duration: 100ms;
	// color: $secondary-light;

	&::before {
		content: '';
		width: 3px;
		background-color: currentColor;
		display: block;
		position: absolute;
		left: -3px;
		top: 6px;
		bottom: 6px;
		transition: all 100ms ease-in-out;
	}

	&.is-current {
		font-weight: bold;
		color: $primary-light;

		&::before {
			top: 2px;
			bottom: 2px;
		}
	}

	+ .product-page__nav__link {
		margin-top: ms(-2);
	}
}
