@import '../global/_variables';

// Page header stuff
.product-hero {
	position: relative;

	&::after {
		position: absolute;
		top: 33.333333%;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 4;
		display: block;
		content: '';
		background: linear-gradient(to top, rgba($black, 0.8) 0%, rgba($black, 0.8) 30%, transparent 100%);
		background-repeat: repeat-x;
	}
}

.product-hero__content {
	position: relative;
	z-index: 5;

	@media #{$mqMediumAndUp} {
		padding: ms(5) ms(7);
		// margin: ms(4);
		// background-color: $black--opaque2;
		color: $white;
		position: absolute;
		bottom: 0;
	}
}


//
.product-info {
	margin-top: 0;

	@media #{$mqMediumAndUp} {
		display: flex;
	}
}

.product-info__sidebar {
	@media #{$mqMediumAndUp} {
		flex: 0 0 220px;
	}
}

.product-info__main {
	margin-top: 0;

	@media #{$mqMediumAndUp} {
		flex: 1 1 auto;
	}
}

.product-sections {
	@media #{$mqMediumAndUp} {
		padding-left: 5%;
	}
}

.product-section {
	// padding-top: ms(8);

	> div {
		margin-top: 2rem;
	}

	+ .product-section {
		margin-top: ms(7);
		// border-top: 2px dashed $black--opaque9;
	}
}

.product-content-group {
	// border: 2px dashed $blue;
	// margin: 40px 0 0 0;

	> div {
		margin-top: 0;
	}

	+ .product-content-group {
		margin-top: 40px;
	}
}


/**
* Product Side Navigation
**/
.product-page__nav {
	padding: ms(8) 0 ms(2) ms(-3);
}

.product-page__nav__link {
	display: block;
	padding: ms(-6) 0 ms(-6) ms(-3);
	position: relative;
	line-height: 1.35em;
	transition-duration: 200ms;
	// color: $secondary-light;

	&::before {
		content: '';
		width: 3px;
		background-color: currentColor;
		display: block;
		position: absolute;
		left: -3px;
		top: 6px;
		bottom: 6px;
		transition: all 200ms ease-in-out;
	}

	&.is-current {
		font-weight: bold;
		color: $primary-light;

		&::before {
			top: 2px;
			bottom: 2px;
		}
	}

	+ .product-page__nav__link {
		margin-top: ms(-2);
	}
}
