@import '../global/_variables';

// Page header stuff
.product-hero {
	position: relative;

	&::after {
		position: absolute;
		top: 33.333333%;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 4;
		display: block;
		content: '';
		background: linear-gradient(to top, rgba($black, 0.8) 0%, rgba($black, 0.8) 30%, transparent 100%);
		background-repeat: repeat-x;
		transition:
			height 444ms cubic-bezier(0.23, 1, 0.32, 1),
			opacity 444ms cubic-bezier(0.23, 1, 0.32, 1);
	}
}

.product-hero__content {
	position: relative;
	z-index: 5;

	@media #{$mqMediumAndUp} {
		padding: ms(5) ms(7);
		// margin: ms(4);
		// background-color: $black--opaque2;
		color: $white;
		position: absolute;
		bottom: 0;
	}
}




//
.product-info {
	margin-top: 0;

	@media #{$mqMediumAndUp} {
		display: flex;
	}
}

.product-info__sidebar {
	@media #{$mqMediumAndUp} {
		flex: 0 0 220px;
	}
}

.product-info__main {
	margin-top: 0;

	@media #{$mqMediumAndUp} {
		flex: 1 1 auto;
	}
}

.product-sections {
	@media #{$mqMediumAndUp} {
		padding-left: 5%;
	}
}

.product-section {
	padding-top: ms(8);

	> div {
		margin-top: 2rem;
	}

	+ .product-section {
		margin-top: ms(5);
		// border-top: 2px dashed $black--opaque9;
	}
}

.product-content-group {
	// border: 2px dashed $blue;
	// margin: 40px 0 0 0;

	> div {
		margin-top: 0;
	}

	+ .product-content-group {
		margin-top: 40px;
	}
}


/**
* Product Side Navigation
**/
.product-page__nav {
	padding: ms(8) 0 ms(2) ms(2);
}

.product-page__nav__link {
	margin-top: 0;
	display: block;
	padding: ms(-2) 0;
	position: relative;

	&::before {
		content: '';
		width: 8px;
		height: 8px;
		background-color: currentColor;
		border-radius: 100%;
		display: block;
		position: absolute;
		left: -20px;
		top: 19px;
		opacity: 0;
		transition: opacity 200ms ease-out;
	}

	&.is-current {
		font-weight: bold;

		&::before {
			opacity: 1;
		}
	}

	+ .product-page__nav__link {
		// margin-top: ms(1);
	}
}
