@import '../global/_variables';

.site-footer {
	// display: flex;
	// justify-content: space-between;
	padding: ms(4);
	background-color: $teal;
	color: $white;
}

.footer__social {
	list-style-type: none;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;

	a {
		display: block;
		padding: ms(-3);
	}

	svg {
		width: ms(3);
		height: ms(3);
		fill: currentColor;
	}
}

.footer__logos {
	list-style-type: none;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;

	a {
		display: block;
		padding: ms(-3);
		transition: opacity 100ms ease-in-out;

		&:hover {
			opacity: 0.7;
		}
	}
}

.footer__links {
	list-style-type: none;
	// display: flex;
	padding-left: 0;
	margin-bottom: 0;

	a {
		display: inline-block;
		padding: ms(-3);
	}
}
