@import '../global/_variables';

.site-footer {
	// display: flex;
	// justify-content: space-between;
	padding: ms(4);
	background-color: $teal;
	color: $white;
}

.footer__social {
	svg {
		width: ms(5);
		height: ms(5);
		fill: currentColor;
	}
}
