@import '../global/_variables';

.site-footer {
	padding: ms(4) 0 0 0;
	background-color: $primary;
	border-top: 2px solid $secondary;
	color: $white;
	font-size: 15px;

	p {
		font-size: 1em;
	}
}

.footer {
	display: flex;
	flex-flow: row wrap;
}

.footer__links {
	flex: 1 0 auto;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;

	a {
		margin-top: 0;
		display: inline-block;
		padding: ms(-2) ms(0) ms(-2) 0;
	}
}

.footer__contact-details {
	flex: 1 0 auto;
}

.footer__copyright {
	flex: 1 0 100%;
	padding: ms(0) 0;
	background-color: $primary-dark;

	p {
		font-size: 14px;
	}
}

// .footer__social {
// 	list-style-type: none;
// 	display: flex;
// 	padding-left: 0;
// 	margin-bottom: 0;
//
// 	a {
// 		display: block;
// 		padding: ms(-3);
// 	}
//
// 	svg {
// 		width: ms(3);
// 		height: ms(3);
// 		fill: currentColor;
// 	}
// }
//
// .footer__logos {
// 	list-style-type: none;
// 	display: flex;
// 	padding-left: 0;
// 	margin-bottom: 0;
//
// 	a {
// 		display: block;
// 		padding: ms(-3);
// 		transition: opacity 100ms ease-in-out;
//
// 		&:hover {
// 			opacity: 0.666666;
// 		}
// 	}
// }
