@import '../global/_variables';
@import '../global/mixins';

.page__body {
	border-top: 2px solid $secondary;
}

.site-header__wrapper {
	// border-top: 10px solid $primary;
}

.site-header {
	font-family: $headings-font-family;
	font-size: ms(-1);
	text-transform: uppercase;
	font-weight: $headings-font-weight;

	@media #{$mqMediumAndUp} {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
	}
}

.header-logo {
	flex: 0 0 auto;
	margin-top: 1.5em;
}

.header-logo__link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	overflow: hidden;
}

.header-logo__image {
	flex: 0 1 auto;
}

.header-logo__image-extra {
	flex: 0 1 auto;
	max-width: 170px;
	margin-top: 0;
	margin-left: ms(1);

	@media #{$mqMediumAndUp} {
		max-width: 190px;
	}

	@media #{$mqLargeAndUp} {
		max-width: 220px;
	}

	@media #{$mqXLargeAndUp} {
		max-width: 240px;
	}
}

.header-logo__title {
	@include hide-text1;
}

.wee-nav__wrapper {
	flex: 0 1 auto;
	margin-top: 1.5em;
	overflow: hidden;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	font-family: $font-family-header;
	letter-spacing: 0.2px;
}

.wee-nav {
	margin-top: 0;
	flex: 0 0 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

	@media #{$mqMediumAndUp} {
		flex-basis: auto;
	}
}

.wee-nav__link {
	// padding: 0 ;
	// line-height: 40px;
	margin: ms(-4) 0;
	color: currentColor;
	// background-color: $white; // Chrome Audits

	&:not(:first-child) {
		border-left: 1px solid $black--opaque8;
		padding-left: ms(-1);
		margin-left: ms(-1);
	}

	&:hover {
		text-decoration: none;
	}
}

.header__contact-us__wrapper {
	flex: 0 0 auto;
	text-align: right;
	line-height: 40px;
	margin-top: 0;

	a {
		color: currentColor;
		display: inline-block;
		// background-color: $white; // Chrome Audits

		&:hover {
			text-decoration: none;
		}
	}
}
