@import '../global/_variables';
@import '../global/mixins';

.site-header__wrapper {
	border-top: 2px solid $secondary;
}

.site-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: $headings-font-family;
	font-size: ms(-1);
	text-transform: uppercase;
	font-weight: $headings-font-weight;
}

.header-logo {
	margin-top: 1em;
}

.header-logo__link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	overflow: hidden;
}

.header-logo__image {
	flex: 0 1 auto;
}

.header-logo__image-extra {
	flex: 0 1 auto;
	max-width: 170px;
	margin-top: 0;
	margin-left: ms(1);

	@media #{$mqMediumAndUp} {
		max-width: 190px;
	}

	@media #{$mqLargeAndUp} {
		max-width: 220px;
	}

	@media #{$mqXLargeAndUp} {
		max-width: 240px;
	}
}

.header-logo__title {
	@include hide-text1;
}

.wee-nav__wrapper {
	margin-top: 0;
	overflow: hidden;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-end;
	justify-content: center;
}

.wee-nav {
	margin-top: 0.75em;
	flex: 0 0 auto;
	display: flex;
	flex-flow: row wrap;
	margin-right: (ms(-4) * -1);

	a {
		padding: ms(-4) ms(-4);
		margin: 0 0 0 ms(-2);
		// color: $black;
		// background-color: $white; // Chrome Audits
	}
}

.header__contact-us__wrapper {
	flex: 0 0 auto;
	margin-top: 1em;
	text-align: right;

	a {
		// color: $black;
		// background-color: $white; // Chrome Audits
	}
}
